// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font files
@font-face {
  font-family: Gravity;
  src: url('../fonts/Gravity-Regular.otf') format("opentype");
}

// Font Mixins
@mixin body-font {
  font-family: 'Gravity', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin heading-font {
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
