// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin script-font {
  font-family: 'Merienda One', 'Lucida Handwriting', 'Apple Chancery', cursive;
}

@mixin body-font {
  font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin heading-font {
  font-family: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
